[Testopia]
url = https://bugzilla.yoctoproject.org/xmlrpc.cgi
username = username
password = password

[Products]
BitBake = 55
BSP/QEMU = 54
Meta-yocto = 74
OE-Core = 60
Build-Appliance = 69
Toaster = 61
ADT = 56
CROPS = 89
Eclipse-Plugin = 50
eSDK = 90
Kernel = 53
Runtime = 71
Package-Management-Issues = 70